#menu {
	background-color: #438bd5;
	width: 100%;
	position: relative;
}
#under_menu_bar{
	width: 100%;
	height:15px;
	position:relative;
	z-index: 2;
	background-color: grey;
}
div#page_opt_quote_form{
	width:100%;
}
#menu_under_menu {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 38px;
	background-color: #2d6094;
}
#menu_under_menu_quote{
	position:relative;
	left:10px;
	top:3px;
	height:100%;
	width:500px;
}

ul#menu_under_menu_list{
	position:relative;
	top:-48px;
	left:68%;
}
ul#menu_under_menu_list li{
		padding: 0px 0px;
	
}
<!--  MIGHT NOT NEED -->
#btn_profile{
	position:relative;
	left:78%;
	width:50px;
}
#btn_logout{
	position:relative;
	left:87%;	
	width:50px;
}
<!--  MIGHT NOT NEED -->

form#page_option_quote{
	width:auto;
}



.tabs{
	position: relative;
	height:58px;
}
ul.tab-links {
	list-style: none;
	display: inline-block;
	
}

li {
	display: inline-block;
	border: none;
	list-style: none;
	margin-right:5px;
	border-radius: 5px 5px 0px 0px;
	padding: 6px 15px;
	background: #2d6094;
	text-align: center;
}

.tab-links a {
	font-size: 25px;
	padding: 6px 15px;
	text-align: center;
	text-decoration: none;
	transition: all linear 0.15s;
}
.tab-links li:hover{
	background: #b6b2d9;
}
.tab-links li.active{
	background-color: #99ccff;
}
